services:
  valkey-cluster:
    image: valkey/valkey:8.0-alpine
    entrypoint:
      - /bin/sh
      - -c
      - |
        IP=$$(hostname -i)
        valkey-server --port 7001 --save "" --appendonly no --cluster-enabled yes --cluster-config-file 7001.conf --cluster-announce-ip $$IP &
        valkey-server --port 7002 --save "" --appendonly no --cluster-enabled yes --cluster-config-file 7002.conf --cluster-announce-ip $$IP &
        valkey-server --port 7003 --save "" --appendonly no --cluster-enabled yes --cluster-config-file 7003.conf --cluster-announce-ip $$IP &
        while ! valkey-cli --cluster create $$IP:7001 $$IP:7002 $$IP:7003 --cluster-yes; do sleep 1; done
        wait
    ports:
      - 7001-7003:7001-7003
    healthcheck:
      test: ["CMD-SHELL", "valkey-cli -p 7001 CLUSTER INFO | grep 'cluster_state:ok'"]
      interval: 1s
      timeout: 20s
      retries: 10
      start_period: 10s
    volumes:
      - valkey-data:/data

  app:
    build: .
    depends_on:
      valkey-cluster:
        condition: service_healthy
    environment:
      VALKEY_ADDRS: "valkey-cluster:7001,valkey-cluster:7002,valkey-cluster:7003" # NOTE: somehow try to connect to 127.0.0.1:7001

volumes:
  valkey-data:
